HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar
target
logs
.DS_Store
pids
lib
*.pid
*.log.gz
*.log
*.hprof

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

